<launch>	
	<master auto="start"/>
	<node pkg="prolog_interface" type="prolog_interface" name="prolog_interface" output="screen">
		<param name="prolog_binary" value="/usr/lib/swi-prolog/bin/amd64" type="str"/> 
		<param name="prolog_path" value="$(find simple_speech_interface)/pl"/>
		<param name="prolog_file_1" value="strands.pl" type="str"/>
	</node> 
	<node pkg="simple_speech_interface" type="robot_interface.py" name="robot_interface" output="screen"/>
</launch>
